.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

body {
  overflow-x: hidden;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a:hover:not(#noApply) {
  background-color: orange;
  font-size: 17px;
  border-radius: 20em;
  padding: 0.3em;
  color: rgb(245, 245, 245);
}

nav a {
  text-decoration: none;
  font-size: 17px;
  border-radius: 20em;
}

.navbar {
  font-size: 17px;
  margin-bottom: 1em;
  display: flex;
}


.logo {
  max-height: 1.5em;
}


.banner {
  border-radius: 30px;
  height: 30vw;
  max-width: 90vw;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: none;
  margin-bottom: 5em;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2vw;
}

.animated-image {
  text-align: center;
}

.animated-image {
  text-align: center;
}

.shopimg {
  max-width: 50%;
  height: auto;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


.text-section {
  padding: 20px;
  border-radius: 10px;
  margin-left: 15vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.text-section h4 {
  color: #333;
  font-size: 34px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.animated-image {
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.text-section p {
  color: #666;
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*MENÚ DESPLEGABLE*/
.dropdown-menu {
  background-color: #ff9100;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffff;
  background-color: #Ffff;
}

.dropdown-menu a {
  text-decoration: none;
  color: #363636;

}

#btnMuchoMas {
  display: inline-block;
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#btnMuchoMas:hover {
  background-color: orange;
  color: #fff;
}

.col-md-4 {
  min-width: 15vw;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #ff9f1a;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}



main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*Codigo Franco*/

.bd-placeholder-img {
  filter: opacity(0.6);
  width: 100%;
  transition: 0.5s;
}

.card:hover .bd-placeholder-img {
  filter: opacity(1);
}

.card:hover {
  transform: scale(0.9);
  border-radius: 1em;
}

.card {
  transition: 0.5s;
  border-radius: 1em;
}

.row {
  justify-content: center;
  display: flex;
}

.container_product {
  width: auto;
  border-radius: 7px;
  background-color: #e9e9e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.container_product {
  padding: 1vw;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #e9e9e9;
}

.texto-hover {
  font-size: 1vw;
  color: #ff9f1a;
  font-weight: bold;
}

.container_animado {
  position: relative;
}

.container_animado img {
  transition-duration: 0.5s;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 1vw;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
}

/*Span con id vendidos*/
#vendidos {
  font-size: 0.7vw;
  color: rgb(172, 172, 172);

}

/*span con clase*/
.description {
  font-size: 20px;
  font-family: 'Verdana', serif;
  color: rgb(56, 56, 56);
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;

  /* Coloca la imagen por encima del degradado */
  position: relative;
  z-index: 2;
}

/*Código de la Barra de Busqueda*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  justify-content: center;
  padding: 10px 0;
}


.contenedor {
  justify-content: space-between;
  background-color: #f0f0f0;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flexbox;
  margin-bottom: 4vw;
}



.input-group.mb-3 {
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 2vw;
  float: initial;
  color: #ffff;
  background-color: #Ffff;
}


#search-input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%
}

/* Filtros de busqueda */
/* Cambia el color de fondo de los botones */
.btn-light {
  background-color: orange;
  color: #333;
}

/* Cambia el estilo de los botones de filtro | filtrar  */
#rangeFilterCount {
  background-color: orange;
  color: #fff;
}

/* Cambia el estilo de los botones de filtro | limpiar */
#clearRangeFilter {
  background-color: orange;
  color: #fff;
  text-decoration: none;
}

/* Cambia el estilo del input de número */
.form-control {
  border: 3px solid orange;
  padding: 5px;
  border-radius: 5px;
  min-width: 30px;
}

/* Cambia el estilo del botón de ordenamiento seleccionado */
.btn-check:checked+.btn {
  background-color: #363636;
  color: #fff;
}


/*Estilo para product-info.js*/
/* Estilos para el título del producto */
#titleProduct {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 50px;
  margin: 10px;
  max-width: 30%;
  display: block;
  margin: 0 auto;
}

/* Estilos para el carrusel del producto */
#firstImage img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: border-color 0.3s ease-in-out;
  border-radius: 10px;
  border: 2px solid #ddd;
}


.carousel-indicators button {
  border-radius: 100%;
  /* Hace que los botones sean redondos */
}

.carousel-control-prev-icon {
  background-color: rgb(189, 189, 189);
  /* Cambia el color de fondo del botón activo */
  border-radius: 30px;
  padding: 20px;
}

.carousel-control-next-icon {
  background-color: rgb(189, 189, 189);
  /* Cambia el color de fondo del botón activo */
  border-radius: 30px;
  padding: 20px;
}

.product-info {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*Estilos para el precio del producto*/
#priceProduct {
  font-size: 24px;
  font-weight: bold;
  color: #ff9f1a;
}

/*Estilos para la descripción del producto*/
#descriptionProduct {
  margin-top: 10px;
  color: #333;
}

/*Estilos para la cantidad vendida del producto*/
#soldCountProduct {
  color: #888;
  font-size: 14px;
}

/* Estilos adicionales */
h5 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Estilos para las imágenes de productos relacionados */
.related-product img {
  max-height: 150px;
  display: block;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.2s ease;
  /* Transición suave de transformación */
}

/* Efecto hover para las imágenes */
.related-product img:hover {
  transform: scale(1.1);
  /* Escala la imagen al 110% en hover */
}


/*COLORES PARA IDENTIFICAR LOS ELEMENTOS*/


/*id comments*/

#comments {
  border: 0;
  background-color: #e4e4e4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  min-height: 80px;
  margin-top: 20px;
  ;
  padding: 20px;
}

/*class headComment */

/*class descriptionComment*/

.descriptionComment {
  color: #444;
  background-color: #e4e4e4;


}


/*Clase nombre y fecha*/
.name,
.date {
  display: inline;
  padding: 8px 14px;




}

.name {
  color: #DC7633;

}

.date {
  color: rgb(146, 141, 141);

}


/*clase del comentario*/
.comment {
  color: #444;
  padding: 5px 14px;
}

/*codigo Franco, comentar*/
.contenedor-comentarios {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #f4f4f4;
}

.area-comentario {
  border: 0;
  background-color: #e4e4e4;
  display: block;
  width: 98%;
  border-radius: 15px;
  min-height: 80px;
  max-height: 90px;
  margin: 15px;
}

.boton-enviar {
  background-color: #E59866;
  border: 0;
  padding: 8px 14px;
  border-radius: 8px;
  color: #ffffff;
  transition: background-color ease-in 180ms;
  margin: 18px;
}

.boton-enviar:hover {
  background-color: #DC7633;
}

.stars {
  font-size: 20px;
  padding: 18px;
  float: right;
  color: #444;
  transition: all 0.2s ease;
}


.fas.fa-star.checked:nth-of-type(1)::after {
  content: "😣";
  position: relative;
  bottom: 25px;
  right: 20px;
}

.fas.fa-star.checked:nth-of-type(1).checked {
  color: #c00000;
}

.fas.fa-star:nth-of-type(1):hover {
  color: #c00000;
  cursor: pointer;
}

.fas.fa-star.checked:nth-of-type(2)::after {
  content: "😕";
  position: relative;
  bottom: 25px;
  right: 20px;
}

.fas.fa-star.checked:nth-of-type(2).checked {
  color: #de2e03;
}

.fas.fa-star:nth-of-type(2):hover {
  color: #de2e03;
  cursor: pointer;
}

.fas.fa-star.checked:nth-of-type(3)::after {
  content: "😐";
  position: relative;
  bottom: 25px;
  right: 20px;
}

.fas.fa-star.checked:nth-of-type(3).checked {
  color: #fc4b08;
}

.fas.fa-star:nth-of-type(3):hover {
  color: #fc4b08;
  cursor: pointer;
}

.fas.fa-star.checked:nth-of-type(4)::after {
  content: "🙂";
  position: relative;
  bottom: 25px;
  right: 20px;
}

.fas.fa-star.checked:nth-of-type(4).checked {
  color: #ff7c39;
}

.fas.fa-star:nth-of-type(4):hover {
  color: #ff7c39;
  cursor: pointer;
}

.fas.fa-star.checked:nth-of-type(5)::after {
  content: "😃";
  position: relative;
  bottom: 25px;
  right: 20px;
}

.fas.fa-star.checked:nth-of-type(5).checked {
  color: #ffa460;
}

.fas.fa-star:nth-of-type(5):hover {
  color: #ffa460;
  cursor: pointer;
}

.stars>input {
  display: none;
}

/*Maxi*/

.dark-mode {
  background-color: #292929;
}


.container.index {
  color: rgb(0, 0, 0);
}

body.dark-mode {
  background-color: #292929;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 15px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-image: url("soleado.png");
  background-size: cover;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #9b521b;
}

input:focus+.slider {
  box-shadow: 0 0 1px #9b521b;
}

/*transición del cuadrante*/
input:checked+.slider:before {
  transform: translateX(42px);
  background-image: url("luna.png");
  background-size: cover;
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}




/**************/

@media (max-width: 576px) {

  .container_product {
    width: auto;
    border-radius: 7px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .container_product {
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #e9e9e9;

  }
  
  .texto-hover {
    font-size: 2vw;
    color: #ff9f1a;
    font-weight: bold;
  }
  
  .container_animado {
    position: relative;
  }
  
  .container_animado img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 1vw;
  }
  
  #lista {
    display: grid;
    grid-template-columns: 1fr;
  }


  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 250%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    margin-top: 4em;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  


  .container.mt-4{
    position: relative;
    right: 10%;
  }

  .area-comentario {
    width: 90%;
  }


  #titleProduct {
    font-size: 18px;
    padding: 15px;
    text-align: center;
    max-width: 40%;
  }


  #funcionality {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    justify-items: stretch;
  }

  #btn_cleanFilt {
    display: flex;
    justify-content: space-around;
  }

  .container_product {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    width: auto;
    border-radius: 7px;
    margin: 12px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  #price {
    display: flex;
  }

  .description {
    display: none;
  }

  .container_animado {
    position: relative;
}


#vendidos {
display: none;  
}

  #rowEdit {
    display: grid;
    margin: 0 10% 0 10%;
  }

  .form-control.g-md-2.my-2::placeholder {
    font-size: 75%;
  }

  .text-section {
    text-align: center;
    margin: 0;
    margin-bottom: 10vw;
  }

}

@media (max-width: 768px) {
 
  .container_product {
    width: auto;
    border-radius: 7px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  
  .container_product {
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #e9e9e9;
  }
  
  .texto-hover {
    font-size: 2vw;
    color: #ff9f1a;
    font-weight: bold;
  }
  
  .container_animado {
    position: relative;
  }
  
  .container_animado img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 1vw;
  }
  
  #lista {
    display: grid;
    grid-template-columns: 1fr;
  }


  .description {
    display: none;
  }
  .area-comentario {
    width: 90%;
  }

  #funcionality {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    justify-items: stretch;
  }

  .container_product {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    width: auto;
    border-radius: 7px;
    margin: 12px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }






  #vendidos {
    position: relative;
    left: 1%;

  }

  .text-section {
    text-align: center;
    margin: 0;
    margin-bottom: 10vw;
  }

  
}


@media (max-width: 374px) {
 
  
  .container .container_product {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #e9e9e9;
    width: auto;
    border-radius: 7px;
  }
  
  span.texto-hover {
    font-size: 4vw;
    color: #ff9f1a;
    font-weight: bold;
  }
  
  .container_animado {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
 .container_animado img {
    border-radius: 10px;
    width: 250%;
    height: auto;
  }
  
  #lista {
    display: grid;
    grid-template-columns: 1fr;
  }


  .area-comentario {
    width: 90%;
  }

  #funcionality {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    justify-items: stretch;
  }

  #btn_cleanFilt {
    display: flex;
    justify-content: space-around;
  }


  #price {
    display: flex;
  }

  #btn_sort {
    position: relative;
    right: 22%;
  }

  .container_product {
    align-items: center;
    padding: 20px 0 20px 0;
    width: auto;
    border-radius: 7px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }


  .container_animado img {
    max-width: 10%;
    border-radius: 10px;
  }

  .description {
    display: none;
  }

  #vendidos {
    color: #ff9f1a;
  }

  #rowEdit {
    display: grid;
    margin: 0 0 0 30%;
  }

  .form-control.g-md-2.my-2::placeholder {
    font-size: 75%;
  }

  .text-section {
    text-align: center;
    margin: 0;
    margin-bottom: 10vw;
  }
}

@media (max-width: 834px) {
  .container_product {
    width: auto;
    border-radius: 7px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .container_product {
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #e9e9e9;
  }
  
  .texto-hover {
    font-size: 2vw;
    color: #ff9f1a;
    font-weight: bold;
  }
  
  .container_animado {
    position: relative;
  }
  
  .container_animado img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 1vw;
  }
  
  #lista {
    display: grid;
    grid-template-columns: 1fr;
  }


  .area-comentario {
    width: 90%;
  }

  #funcionality {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    justify-items: stretch;
  }

  .container_product {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    width: auto;
    border-radius: 7px;
    margin: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .description {
    display: none;
  }

  #vendidos {
    position: relative;
    left: 1%;
  }

  .text-section {
    text-align: center;
    margin: 0;
    margin-bottom: 10vw;
  }
  
  .text-section {
    text-align: center;
    margin: 0;
    margin-bottom: 10vw;
  }

}


.text-center h2 {
  font-size: 24px;
}

.btn.btn-danger {
  border-radius: 100%;
}

/* Estilo para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 20px;
}

.table th,
.table td {
  border-bottom: none;
  padding: 1em;
}


#subAll {
  color: #ff9f1a;
  font-weight: bold;
}

#shipType {
  color: #ff9f1a;
  font-weight: bold;
}

#totalCart {
  color: #ff9f1a;
  font-weight: bold;
}


/* Estilo para los campos de entrada de texto */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Estilo para los botones */
#custom-button {
  background-color: #ff9f1a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#custom-button:hover {
  background-color: #ff9f1a;
}

/* Estilo para la página de forma de pago */
.payMethod {
  background-color: #fff;
  margin-top: 1em;
  max-width: 59em;
  margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1.5em;
  border-radius: 10px;
  margin: 1em auto;
}

#openModalLink {
  text-decoration: none;
  padding: 0.6em;
  background-color: #ff9f1a;
  margin: 1em;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#openModalLink:hover {
  background-color: #ff9f1a;
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
  background-color: #fff;
  margin: 35% auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  width: 30%;
  margin-top: 4em;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-content ul li {
  margin: 0.7em;
}



TODO EL CODIGO

/*Estilo para los tipos de envios*/
.type-send {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
}

.prodCount {
  border-radius: 8px;
  border-style: groove;
}


.type-send label {
  display: block;
  margin-bottom: 10px;
}

.containerCart {
  display: flex;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0em auto;
}

.type-send {
  border-style: none;
  margin-right: 4em;
}

.address-send {
  border-style: none;
  margin-left: 4em;
}

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Estilo para Boton de agregar carrito y toast*/

.CartBtn {
  width: 230px;
  height: 45px;
  border-radius: 12px;
  border: none;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  margin: 1em;
  margin-bottom: 1.5em;
}


.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;

}

.icon {
  border-radius: 1px;
  color: wheat;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 238, 238);
  z-index: 1;
  transition-duration: .5s;
  font-size: 0.9em;
  font-weight: 100;
  margin-top: auto;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;

}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

.toast-header {
  background-color: orange;
  color: white;
  border-style: none;
}

#miToast {
  margin: 15px;
  border-style: none;
}

#finalizePurchase {
  margin-left: 24.5%;
  padding-left: 20%;
  padding-right: 20%;
  background-color:orange;
  border-color: orange;

}

input:disabled {
  background-color: #aaaaaa;
}

.me-auto a {
  color: white;
  text-decoration: none;
}

#hiddenSpan, #hiddenSpanInputs, #datosValidos
{
  display: none;
}

#hiddenSpan.open {
  display: inline;
}

#hiddenSpanInputs.open{
  display: inline;
}

#datosValidos.open {
  display: inline;
}

.containerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5em auto;
  max-width: 40em;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

.profile-image {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin-bottom: 2em;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.profile-image-container {
  margin-top: 20px;
  position: relative;
  text-align: center;
  justify-content: center;
}

#nameProfile {
  font-size: 30px;
}

#file-input {
  display: none;
}

.upload-button {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
}

#btn_datos {
  background-color: #ff9f1a;
  border-style: none;
}

.remove-image-button {
  background-color: rgb(255, 94, 0);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
}

.name img, #login img{
  width: 30px;
  border-radius: 33%;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

 
 